force-app/main/default/flows/Creation_of_Child_Assets_for_Product_Bundles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Child_Asset_to_Collection</name>
        <label>Assign Child Asset to Collection</label>
        <locationX>837</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>BundledAssetCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BundledAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Bundle_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Child_Asset</name>
        <label>Set Child Asset</label>
        <locationX>844</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>BundledAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Bundle_Entries.Product_Bundle_Item__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.Asset_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BundleEntry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Bundle_Entries.Product_Bundle_Item__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BundledAsset.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Child_Asset_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Automatic creation of asset records for applicable product types (e.g., packs, bolts, etc.)</description>
    <interviewLabel>Creation of Child Assets for Product Bundles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creation of Child Assets for Product Bundles</label>
    <loops>
        <name>Loop_Through_Bundle_Entries</name>
        <label>Loop Through Bundle Entries</label>
        <locationX>574</locationX>
        <locationY>362</locationY>
        <collectionReference>Get_Product_Bundle_Entries_from_Asset</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Child_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Created_Bundled_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Created_Bundled_Assets</name>
        <label>Created Bundled Assets</label>
        <locationX>227</locationX>
        <locationY>362</locationY>
        <inputReference>BundledAssetCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_Bundle_Entries_from_Asset</name>
        <label>Get Product Bundle Entries from Asset</label>
        <locationX>568</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Bundle_Entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Bundle_Entry__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>66</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Get_Product_Bundle_Entries_from_Asset</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Bolt</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductCode</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Pack</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Run_1_Hour_after_Asset_Creation</name>
            <label>Run 1 Hour after Asset Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BundledAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>BundledAssetCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
</Flow>
