force-app/main/default/flows/Create_Timecard_Exceptions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>SetTimecardAssignmentId</name>
        <label>SetTimecardAssignmentId</label>
        <locationX>935</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>GetTimeCard.pse__Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAssignmentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTimecardSplit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssignmentIsNotPopulated</name>
        <label>AssignmentIsNotPopulated</label>
        <locationX>169</locationX>
        <locationY>314</locationY>
        <defaultConnector>
            <targetReference>GetAssignmentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetTimeCard.pse__Assignment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateScheduleForAssignment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DoScheduleExceptionsExist</name>
        <label>DoScheduleExceptionsExist</label>
        <locationX>170</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>CreateScheduleException</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExceptionsDoExistForAssignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScheduleException.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteExistingScheduleExceptions</targetReference>
            </connector>
            <label>ExceptionsDoExistForAssignment</label>
        </rules>
    </decisions>
    <interviewLabel>Create Timecard Exceptions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Timecard Exceptions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateAssignmentForResource</name>
        <label>CreateAssignmentForResource</label>
        <locationX>724</locationX>
        <locationY>261</locationY>
        <assignRecordIdToReference>NewAssignmentId</assignRecordIdToReference>
        <connector>
            <targetReference>SetTimecardAssignmentId</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>GetTimeCard.pse__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource__c</field>
            <value>
                <elementReference>GetTimeCard.pse__Resource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Schedule__c</field>
            <value>
                <elementReference>CreateScheduleForAssignment</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Assignment__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateScheduleException</name>
        <label>CreateScheduleException</label>
        <locationX>176</locationX>
        <locationY>990</locationY>
        <inputAssignments>
            <field>pse__Date__c</field>
            <value>
                <elementReference>TimeCardHeader.pse__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>TimeCardHeader.pse__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Friday_Hours__c</field>
            <value>
                <elementReference>TimeCardHeader.pse__Friday_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Monday_Hours__c</field>
            <value>
                <elementReference>TimeCardHeader.pse__Monday_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Schedule__c</field>
            <value>
                <elementReference>GetAssignmentRecord.pse__Schedule__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Thursday_Hours__c</field>
            <value>
                <elementReference>TimeCardHeader.pse__Thursday_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Tuesday_Hours__c</field>
            <value>
                <elementReference>TimeCardHeader.pse__Tuesday_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Wednesday_Hours__c</field>
            <value>
                <elementReference>TimeCardHeader.pse__Wednesday_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Schedule_Exception__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateScheduleForAssignment</name>
        <label>CreateScheduleForAssignment</label>
        <locationX>371</locationX>
        <locationY>261</locationY>
        <connector>
            <targetReference>CreateAssignmentForResource</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>GetTimeCard.pse__Project__r.pse__End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Friday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Monday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>GetTimeCard.pse__Project__r.pse__Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Thursday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Tuesday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Wednesday_Hours__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>pse__Schedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteExistingScheduleExceptions</name>
        <label>DeleteExistingScheduleExceptions</label>
        <locationX>480</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>CreateScheduleException</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAssignmentRecord.pse__Schedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTimeCard.pse__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTimeCard.pse__End_Date__c</elementReference>
            </value>
        </filters>
        <object>pse__Schedule_Exception__c</object>
    </recordDeletes>
    <recordLookups>
        <name>CheckForExistingScheduleExceptions</name>
        <label>CheckForExistingScheduleExceptions</label>
        <locationX>177</locationX>
        <locationY>682</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoScheduleExceptionsExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAssignmentRecord.pse__Schedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTimeCard.pse__Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTimeCard.pse__End_Date__c</elementReference>
            </value>
        </filters>
        <object>pse__Schedule_Exception__c</object>
        <outputReference>ScheduleException</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAssignmentRecord</name>
        <label>GetAssignmentRecord</label>
        <locationX>177</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForExistingScheduleExceptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTimeCard.pse__Assignment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTimeCard</name>
        <label>GetTimeCard</label>
        <locationX>177</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentIsNotPopulated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Timecard_Header__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimecardId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Timecard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TimeCardHeader</name>
        <label>TimeCardHeader</label>
        <locationX>401</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetTimeCard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TimecardId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Timecard_Header__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTimecardSplit</name>
        <label>UpdateTimecardSplit</label>
        <locationX>935</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>GetAssignmentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetTimeCard.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Assignment__c</field>
            <value>
                <elementReference>NewAssignmentId</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Timecard__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TimeCardHeader</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewAssignmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAssignmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Assignment__c</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ScheduleException</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>pse__Schedule_Exception__c</objectType>
    </variables>
    <variables>
        <name>TimecardId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
