force-app/main/default/flows/GetFeedback_Response_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_PM_Contact</name>
        <label>Set PM Contact</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.ProjectPM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_Record.pse__Project_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Project_Id</name>
        <label>Set Project Id</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>projectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ProjectId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>GetFeedback Response Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GetFeedback Response Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PM_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Project_Manager__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Project_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProjectId__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>GetFeedback_Aut__Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
