force-app/main/default/flows/LOE_SOW_Object_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Set_LOE_Approved_Off</name>
        <label>Set LOE Approved Off</label>
        <locationX>461</locationX>
        <locationY>850</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.LOEApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_LOE_Approved_on</name>
        <label>Set LOE Approved on</label>
        <locationX>179</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.LOEApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_on_LOE_record</name>
        <label>Set Status on LOE record</label>
        <locationX>928</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>LOE_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOE_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If it&apos;s a LOE Review record, set the LOE Approved flag on the opp off</description>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>170</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Set_LOE_Approved_on</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LOE_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOE Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LOE_Approved_Off</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>LOE Review</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check to see what the status is and take the appropriate action</description>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>168</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LOE_RecordType_Id</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
    </decisions>
    <interviewLabel>LOE/SOW Object Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LOE/SOW Object Trigger</label>
    <loops>
        <name>LOE_Record</name>
        <label>LOE Record</label>
        <locationX>742</locationX>
        <locationY>505</locationY>
        <collectionReference>Get_Existing_LOE_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_on_LOE_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_LOE_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Existing_LOE_Records</name>
        <label>Get Existing LOE Records</label>
        <locationX>574</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOE_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LOE_RecordType_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LOE_SOW_Review__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LOE_RecordType_Id</name>
        <label>Get LOE RecordType Id</label>
        <locationX>398</locationX>
        <locationY>505</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_LOE_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LOE_SOW_Review__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the opportunity associated with the LOE/SOW record</description>
        <name>Get_Opportunity</name>
        <label>Get the Opportunity</label>
        <locationX>176</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LOEApproved__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_LOE_Records</name>
        <label>Update LOE Records</label>
        <locationX>742</locationX>
        <locationY>793</locationY>
        <connector>
            <targetReference>Set_LOE_Approved_on</targetReference>
        </connector>
        <inputReference>LOE_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>180</locationX>
        <locationY>945</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <object>LOE_SOW_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
