force-app/main/default/flows/Update_Project_With_Principal_Consultant.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <description>Check to see if there is a Principal Consultant</description>
        <name>Principal_Consultant</name>
        <label>Principal Consultant?</label>
        <locationX>568</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Update_Project_with_Principal_consultant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PC Exists</defaultConnectorLabel>
        <rules>
            <name>PC_Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_contact_for_Resource</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <label>PC Does Not Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Update Project With Principal Consultant {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Project With Principal Consultant</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get assignments for principal consultant role</description>
        <name>Get_Assignments</name>
        <label>Get Assignments</label>
        <locationX>186</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_contact_for_Resource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PC</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Assignment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Resource__c</queriedFields>
        <queriedFields>pse__Project__c</queriedFields>
        <sortField>pse__End_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the contact name for the principal consultant</description>
        <name>Get_contact_for_Resource</name>
        <label>Get contact for Resource</label>
        <locationX>371</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Principal_Consultant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignments.pse__Resource__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the project with the principal consultant name</description>
        <name>Update_Project_with_Principal_consultant</name>
        <label>Update Project with Principal consultant</label>
        <locationX>790</locationX>
        <locationY>53</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignments.pse__Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Principal_Consultant__c</field>
            <value>
                <elementReference>Get_contact_for_Resource.Name</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>53</locationY>
        <connector>
            <targetReference>Get_Assignments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
