force-app/main/default/flows/Update_Risk_Owner_With_PM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>635</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>updatedRisks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Risks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_owner</name>
        <label>Assign owner</label>
        <locationX>635</locationX>
        <locationY>38</locationY>
        <assignmentItems>
            <assignToReference>currentRecord.Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>currentRecord.IsProjectPMSet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Risk Owner With PM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Risk Owner With PM</label>
    <loops>
        <description>Assign the owner as the PM for the project</description>
        <name>Loop_through_Risks</name>
        <label>Loop through Risks</label>
        <locationX>372</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>currentRecord</assignNextValueToReference>
        <collectionReference>Get_Pre_flight_risks_for_project</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Risks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the pre-flight risks for the project and set the owner to the PM of the project</description>
        <name>Get_Pre_flight_risks_for_project</name>
        <label>Get Pre-flight risks for project</label>
        <locationX>212</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Risks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsProjectPMSet__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projectId</elementReference>
            </value>
        </filters>
        <filters>
            <field>isCreatedfromTemplate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Risks_Issues__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Risks</name>
        <label>Update Risks</label>
        <locationX>373</locationX>
        <locationY>274</locationY>
        <inputReference>updatedRisks</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Pre_flight_risks_for_project</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the contact from the Owner__c field on the Risk_Issue__c object</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Risks_Issues__c</objectType>
    </variables>
    <variables>
        <name>projectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedRisks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Risks_Issues__c</objectType>
    </variables>
</Flow>
