force-app/main/default/flows/Update_Child_Product_Count.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_to_Child_Product_Count</name>
        <label>Add to Child Product Count</label>
        <locationX>414</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>ChildProductCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Child_Products</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Child Product Count {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Child Product Count</label>
    <loops>
        <name>Loop_through_Child_Products</name>
        <label>Loop through Child Products</label>
        <locationX>414</locationX>
        <locationY>336</locationY>
        <collectionReference>Get_Product_Bundle_Entries_for_Parent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Child_Product_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Bundle_Entries_for_Parent</name>
        <label>Get Product Bundle Entries for Parent</label>
        <locationX>176</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Child_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Bundle__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product_Bundle_Entry__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Product</name>
        <label>Update Parent Product</label>
        <locationX>884</locationX>
        <locationY>335</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product_Bundle__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Child_Product_Count__c</field>
            <value>
                <elementReference>ChildProductCount</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product_Bundle_Entries_for_Parent</targetReference>
        </connector>
        <object>Product_Bundle_Entry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildProductCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
