force-app/main/default/flows/X7S_Ideas_Submission_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Submission_Notification</name>
        <label>Send Submission Notification</label>
        <locationX>601</locationX>
        <locationY>431</locationY>
        <actionName>Idea.X7S_Send_Idea_Submission_Notification</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Idea.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Notify_Upon_Submission</name>
        <label>Notify Upon Submission</label>
        <locationX>836</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Send_Submission_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Submission_Email_Template</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscribe_Creators</name>
        <label>Subscribe Creators</label>
        <locationX>595</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Subscribe_Requestors</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscribe_Creators</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Subscribe_Creators</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Creator_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Subscribe_Requestors</name>
        <label>Subscribe Requestors</label>
        <locationX>836</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Notify_Upon_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Subscribe_Requestors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Subscribe_Requestors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Idea.Requested_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requestor_Subscription</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Autolaunched flow to handle Idea submission automation</description>
    <interviewLabel>7S Idea Submission Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>7S Idea Submission Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creator_Subscription</name>
        <label>Creator Subscription</label>
        <locationX>844</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Subscribe_Requestors</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId__c</field>
            <value>
                <elementReference>Idea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId__c</field>
            <value>
                <elementReference>Idea.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>X7S_Ideas_Subscription__c</object>
    </recordCreates>
    <recordCreates>
        <name>Requestor_Subscription</name>
        <label>Requestor Subscription</label>
        <locationX>1074</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>Notify_Upon_Submission</targetReference>
        </connector>
        <inputAssignments>
            <field>ParentId__c</field>
            <value>
                <elementReference>Idea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SubscriberId__c</field>
            <value>
                <elementReference>Idea.Requested_By__c</elementReference>
            </value>
        </inputAssignments>
        <object>X7S_Ideas_Subscription__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Idea_from_Process</name>
        <label>Get Idea</label>
        <locationX>215</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ideas_Settings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Idea.Id</elementReference>
            </value>
        </filters>
        <object>Idea</object>
        <outputReference>Idea</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Requested_By__c</queriedFields>
        <queriedFields>CommunityId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ideas_Settings</name>
        <label>Get Ideas Settings</label>
        <locationX>401</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subscribe_Creators</targetReference>
        </connector>
        <object>X7S_Ideas_Setting__mdt</object>
        <outputAssignments>
            <assignToReference>Auto_Subscribe_Creators</assignToReference>
            <field>Auto_subscribe_Idea_Creators__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Auto_Subscribe_Requestors</assignToReference>
            <field>Auto_subscribe_Idea_Requestors__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Submission_Email_Template</assignToReference>
            <field>Idea_Submission_Email_Template__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Idea_from_Process</startElementReference>
    <status>Active</status>
    <variables>
        <name>Auto_Subscribe_Creators</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Auto_Subscribe_Requestors</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Idea</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Idea</objectType>
    </variables>
    <variables>
        <name>Submission_Email_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
