force-app/main/default/flows/X7S_Adventure_Task_Cascade.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_New_Tasks_to_Collection</name>
        <label>Add New Tasks to Collection</label>
        <locationX>50</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>NewTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Parent_Modules</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cloned_Tasks_To_Collection</name>
        <label>Assign Cloned Tasks To Collection</label>
        <locationX>1195</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>ClonedTaskCollectionForUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Cloned_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Cloned_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Cloned_Tasks</name>
        <label>Assign Values to Cloned Tasks</label>
        <locationX>1195</locationX>
        <locationY>193</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Cloned_Tasks.Content_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Cloned_Tasks.Custom_Icon_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Custom_Icon_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Cloned_Tasks.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Cloned_Tasks.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Cloned_Tasks.Resource_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resource_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Cloned_Tasks.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cloned_Tasks_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Task</name>
        <label>Set Values for Task</label>
        <locationX>50</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>NewTask.Adventure_Module__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Parent_Modules.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Content_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Content_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Custom_Icon_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Custom_Icon_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Resource_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Resource_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Title__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask.Source_Task_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Tasks_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_or_Update</name>
        <label>Create or Update</label>
        <locationX>637</locationX>
        <locationY>117</locationY>
        <defaultConnector>
            <targetReference>Get_Cloned_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Modules</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <description>This flow allows for creation of or update to an Adventure Task on a &quot;parent&quot; or &quot;source&quot; Adventure to cascade to cloned/child Adventures.</description>
    <interviewLabel>7S Adventure Task Cascade {!$Flow.CurrentDateTime}</interviewLabel>
    <label>7S Adventure Task Cascade</label>
    <loops>
        <name>Loop_through_Cloned_Tasks</name>
        <label>Loop through Cloned Tasks</label>
        <locationX>975</locationX>
        <locationY>318</locationY>
        <collectionReference>Get_Cloned_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values_to_Cloned_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updated_Cloned_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Parent_Modules</name>
        <label>Loop through Parent Modules</label>
        <locationX>311</locationX>
        <locationY>317</locationY>
        <collectionReference>Get_Related_Modules</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Values_for_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Cascade_New_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cascade_New_Tasks</name>
        <label>Cascade New Tasks</label>
        <locationX>311</locationX>
        <locationY>585</locationY>
        <connector>
            <targetReference>Reset_Cascade_Flag</targetReference>
        </connector>
        <inputReference>NewTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cloned_Tasks</name>
        <label>Get Cloned Tasks</label>
        <locationX>728</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Cloned_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Task_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X7S_Adventure_Task__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Modules</name>
        <label>Get Related Modules</label>
        <locationX>564</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Parent_Modules</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Source_Module_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Adventure_Module__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>X7S_Adventure_Module__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Cascade_Flag</name>
        <label>Reset Cascade Flag</label>
        <locationX>661</locationX>
        <locationY>585</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cascade__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>X7S_Adventure_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Cloned_Tasks</name>
        <label>Updated Cloned Tasks</label>
        <locationX>975</locationX>
        <locationY>585</locationY>
        <connector>
            <targetReference>Reset_Cascade_Flag</targetReference>
        </connector>
        <inputReference>ClonedTaskCollectionForUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>234</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Create_or_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cascade__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>X7S_Adventure_Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedTaskCollectionForUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X7S_Adventure_Task__c</objectType>
    </variables>
    <variables>
        <name>NewTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X7S_Adventure_Task__c</objectType>
    </variables>
    <variables>
        <name>NewTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X7S_Adventure_Task__c</objectType>
    </variables>
    <variables>
        <name>ParentModules</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X7S_Adventure_Module__c</objectType>
    </variables>
</Flow>
