force-app/main/default/flows/x7sQuestionnaireLwc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RedirectURL</name>
        <label>RedirectURL</label>
        <locationX>214</locationX>
        <locationY>526</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Current_Questionnaire_Data.Redirect_URL__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Responses</name>
        <label>Assign Responses</label>
        <locationX>1720</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>Form_Response_Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!x7sQuestionnaireNavigation.selectedValue};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tally_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Score</name>
        <label>Update Score</label>
        <locationX>1721</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>CorrectResponses</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contact_or_Running_User</name>
        <label>Contact or User</label>
        <locationX>1274</locationX>
        <locationY>537</locationY>
        <defaultConnector>
            <targetReference>Get_User_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_on_Contact_Page</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Info</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_User_Query</name>
        <label>Contact or User</label>
        <locationX>765</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>Get_Completed_Questionnaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User</defaultConnectorLabel>
        <rules>
            <name>Contact_Query</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Use_on_Contact_Page</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Completed_Questionnaires_for_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_Found</name>
        <label>Questionnaire Found</label>
        <locationX>610</locationX>
        <locationY>56</locationY>
        <defaultConnector>
            <targetReference>Contact_or_User_Query</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Questionnaire_Data.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Flow_Found</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_Provided</name>
        <label>Questionnaire Provided</label>
        <locationX>346</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>No_Flow_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>No_Questionnaire_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Questionnaire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Questionnaire</targetReference>
            </connector>
            <label>List</label>
        </rules>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Active_Questionnaire</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Questionnaire</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Questionnaire_Status</name>
        <label>Questionnaire Status</label>
        <locationX>1050</locationX>
        <locationY>55</locationY>
        <defaultConnector>
            <targetReference>Get_Questions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incomplete</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Completed_Questionnaire_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Questionnaire_Complete</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tally_Response</name>
        <label>Tally Response</label>
        <locationX>1712</locationX>
        <locationY>294</locationY>
        <defaultConnector>
            <targetReference>Question_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Wrong Answer</defaultConnectorLabel>
        <rules>
            <name>Correct_Answer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>x7sQuestionnaireNavigation.selectedValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Question_Variable.Correct_Answer__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Score</targetReference>
            </connector>
            <label>Correct Answer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>QuestionnaireSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>List_Type</elementReference>
            </value>
        </filters>
        <limit>20</limit>
        <object>X7S_Questionnaire__c</object>
        <outputAssignments>
            <assignToReference>Active_Questionnaire</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Answer_3</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Question_Variable.Answer_3__c}))</expression>
    </formulas>
    <formulas>
        <name>Answer_4</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Question_Variable.Answer_4__c}))</expression>
    </formulas>
    <formulas>
        <name>Current_User</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>Score</name>
        <dataType>Number</dataType>
        <expression>({!CorrectResponses}/{!Current_Questionnaire_Data.Number_of_Questions__c})*100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Questionnaire Lwc {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>7S Questionnaire</label>
    <loops>
        <name>Question_Loop</name>
        <label>Question Loop</label>
        <locationX>1283</locationX>
        <locationY>301</locationY>
        <assignNextValueToReference>Question_Variable</assignNextValueToReference>
        <collectionReference>Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Question_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contact_or_Running_User</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Record_Responses</name>
        <label>Record Responses</label>
        <locationX>642</locationX>
        <locationY>526</locationY>
        <assignRecordIdToReference>Completed_Questionnaire_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Form_Completion</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Questionnaire__c</field>
            <value>
                <elementReference>Active_Questionnaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Responses__c</field>
            <value>
                <elementReference>Form_Response_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Current_User_Id</elementReference>
            </value>
        </inputAssignments>
        <object>X7S_Questionnaire_Completed__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Completed_Questionnaire</name>
        <label>Get Completed Questionnaire</label>
        <locationX>929</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questionnaire_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Active_Questionnaire</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_User</elementReference>
            </value>
        </filters>
        <object>X7S_Questionnaire_Completed__c</object>
        <outputAssignments>
            <assignToReference>Completed_Questionnaire_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Completed_Questionnaires_for_Contact</name>
        <label>Get Completed Questionnaires for Contact</label>
        <locationX>914</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questionnaire_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Questionnaire__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Active_Questionnaire</elementReference>
            </value>
        </filters>
        <object>X7S_Questionnaire_Completed__c</object>
        <outputAssignments>
            <assignToReference>Completed_Questionnaire_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Info</name>
        <label>Get Contact Info</label>
        <locationX>974</locationX>
        <locationY>595</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Current_User_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Current_User_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Questionnaire</name>
        <label>Get Questionnaire</label>
        <locationX>448</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Questionnaire_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Active_Questionnaire</elementReference>
            </value>
        </filters>
        <object>X7S_Questionnaire__c</object>
        <outputReference>Current_Questionnaire_Data</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Header_Image__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Success_Text__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Redirect_URL__c</queriedFields>
        <queriedFields>Quiz_Scored__c</queriedFields>
        <queriedFields>Number_of_Questions__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>1275</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flow_Scenario__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Active_Questionnaire</elementReference>
            </value>
        </filters>
        <object>X7S_Questionnaire_Question__c</object>
        <outputReference>Questions</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Item_Text__c</queriedFields>
        <queriedFields>Answer_1__c</queriedFields>
        <queriedFields>Answer_2__c</queriedFields>
        <queriedFields>Answer_3__c</queriedFields>
        <queriedFields>Answer_4__c</queriedFields>
        <queriedFields>Script_Text__c</queriedFields>
        <queriedFields>SLDS_Icon__c</queriedFields>
        <queriedFields>Correct_Answer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Info</name>
        <label>Get User Info</label>
        <locationX>974</locationX>
        <locationY>478</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Responses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_User</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>Current_User_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Current_User_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Form_Completion</name>
        <label>Form Completion</label>
        <locationX>430</locationX>
        <locationY>526</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RedirectURL</targetReference>
        </connector>
        <fields>
            <name>Display_Image_Final</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Current_Questionnaire_Data.Header_Image__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Completion_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;h1&gt;{!Current_Questionnaire_Data.Success_Text__c}&lt;/h1&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Flow_Found</name>
        <label>No Flow Found</label>
        <locationX>618</locationX>
        <locationY>291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_No_Questionnaire_Found</name>
            <fieldText>No active questionnaire found. Please contact your administrator if you believe you are seeing this message in error.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_Screen</name>
        <label>Question Screen</label>
        <locationX>1449</locationX>
        <locationY>56</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Responses</targetReference>
        </connector>
        <fields>
            <name>Questionnaire_Image</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <elementReference>Current_Questionnaire_Data.Header_Image__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_Display_Text</name>
            <fieldText>&lt;br/&gt;&lt;/br&gt;&lt;strong&gt;{!Current_Questionnaire_Data.Name}&lt;/strong&gt;&lt;br/&gt;&lt;br/&gt;{!Current_Questionnaire_Data.Description__c}&lt;br/&gt;&lt;br/&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>x7sQuestionnaireNavigation</name>
            <extensionName>c:x7sQuestionnaireNav</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>scriptText</name>
                <value>
                    <elementReference>Question_Variable.Item_Text__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>answer1</name>
                <value>
                    <elementReference>Question_Variable.Answer_1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>answer2</name>
                <value>
                    <elementReference>Question_Variable.Answer_2__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>answer3</name>
                <value>
                    <elementReference>Question_Variable.Answer_3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>answer4</name>
                <value>
                    <elementReference>Question_Variable.Answer_4__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>answer3Populated</name>
                <value>
                    <elementReference>Answer_3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>answer4Populated</name>
                <value>
                    <elementReference>Answer_4</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>guidanceText</name>
                <value>
                    <elementReference>Question_Variable.Script_Text__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showGuidanceText</name>
                <value>
                    <elementReference>Show_Guidance_Text</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slds_icon</name>
                <value>
                    <elementReference>Question_Variable.SLDS_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>value</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Questionnaire_Complete</name>
        <label>Questionnaire Complete</label>
        <locationX>1098</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completion_Confirmation</name>
            <fieldText>&lt;br/&gt;&lt;h1&gt;{!Current_Questionnaire_Data.Name} has already been completed. Thank you!&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Questionnaire</name>
        <label>Select Questionnaire</label>
        <locationX>526</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Questionnaire</targetReference>
        </connector>
        <fields>
            <name>Available_Questionnaires</name>
            <choiceReferences>QuestionnaireSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select from Available Questionnaires</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>Questionnaire_Provided</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Enter the record Id of a questionnaire to show one specific questionnaire or set to &quot;List&quot; to have the user select from a list of all active questionnaires.</description>
        <name>Active_Questionnaire</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>List</stringValue>
        </value>
    </variables>
    <variables>
        <name>Completed_Questionnaire_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CorrectResponses</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Current_Question_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Current_Questionnaire_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X7S_Questionnaire__c</objectType>
    </variables>
    <variables>
        <name>Current_User_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Current_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Form_Response_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Form_Responses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Include_Subflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>List_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </variables>
    <variables>
        <name>Question_Variable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X7S_Questionnaire_Question__c</objectType>
    </variables>
    <variables>
        <name>Questions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>X7S_Questionnaire_Question__c</objectType>
    </variables>
    <variables>
        <name>Result</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Show guidance text to an agent</description>
        <name>Show_Guidance_Text</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Use_on_Contact_Page</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>value</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
